body {
    font-family: Arial, sans-serif;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}

button:hover {
    background-color: pink;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none; /* initially hide all screens */
}

.feedback {
    display: none;
}

.question {
    display: none; /* initially hide all questions */
}
